html, body {
    margin: 0;
    padding: 0;
  }

.main-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.Header-Container {
    display: flex;
    flex-direction: row;

}

.main-container .top-header {

    background: #1F2937;
    height: 50px;      
}


.main-container .box1 {

    background: #1F2937;
    height: 200px;  
}

.main-container .box2 {

    background: white;
    height: 280px;  
}

.main-container .box3 {

    background: #e5e7eb;
    height: 280px;  
}

.main-container .box4 {

    background: white;
    height: 280px;  
}
.main-container .bottom-footer {

    background: #1F2937;
    height:75px;  
}

.HeaderLogo {    
    padding-top: 16px;
    padding-left: 100px;
    font-family: Roboto;
    
    color: white;
   
}

.HeaderLinks {        
      
    color: white;
}

.HorizontalLinks{
    display: flex;
    list-style: none;
}

.HorizontalLinks li {
margin-right: 20px;
}